.container{ 
    font-size: 30px;
   background: rgb(255, 0, 85); 
   
    proprieda : valor;

}

h1{ 
    color: rgb(255, 255, 255);
    background-color: rgb(210, 30, 30);
}

.links li { 
    

    color: aliceblue;
  background-color: rgb(255, 59, 59);
    propriedade : valor

}

.links li a {
    flex-direction: column;
    justify-content:space-between;
   
    propriedade : valor

}
.links li a:houver;
{  propriedade : valor;

}
