.container{
    proprieda : valor;

}

h1{ 
    color: blue;
    background-color: chocolate;
}

.links li {
    
    propriedade : valor

}

.links li a {
    
    propriedade : valor

}
.links li a:houver;{  propriedade : valor;

}
