.container{
    proprieda : valor;

}

h1 { 

    propriedade : valor
}

.links li {

    propriedade : valor

}

.links li a {

    propriedade : valor

}
.links li a:houver;{  propriedade : valor;

}
